%p#notice= notice
%nav.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} Listing Rooms
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Fetch', controller: 'rooms', action: 'fetch'
        %li= link_to 'New Room', new_room_path
        %li= link_to 'Settings', configs_path
.container.top-margin-container
  .starter-template
    %br
    = render_datatable(@datatable)
