<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @room.url %>
</p>

<p>
  <strong>Time:</strong>
  <%= @room.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @room.status %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @room.requirements %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Discarded:</strong>
  <%= @room.discarded %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
